*{
	margin: 0px;
	padding: 0px;
	outline: 0 !important;
	font-family: 'Open Sans Condensed', sans-serif;
}
.main__page{
	height: 753px;
	width: 1495px;
}
.header{
	height: 130px;
	background: white;
}
.body{
	height: 550px;
	width: 1495px;
	background: #466368;
  	background: radial-gradient(#648880, #293f50);
	position: relative;
}
.green__line{
	margin-top: 20px;
	width: 100%;
	height: 10px;
	background: rgb(93,200,198);
	position: absolute;
}
.button{
	background-color: Transparent;
	background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
	height: 50px;
	width: 150px;
	font-size: 30px;
	float: right;
	margin-top: 5%;
}
.button:hover{
	color: green;
}
.module__paint{
	margin: 200px 0px 0px 250px;
	height: 180px;
	width: 180px;
	position: absolute;
	transform: rotate(45deg);
}
.module__crud{
	margin: 200px 0px 0px 650px;
	height: 180px;
	width: 180px;
	position: absolute;
	transform: rotate(45deg);
}
.module__DKbank{
	margin: 200px 0px 0px 1050px;
	height: 180px;
	width: 180px;
	position: absolute;
	transform: rotate(45deg);
}
.logo{
	margin-top: -150px;
	position: absolute;
}
.picture{
	margin-top: 18px;
	height: 75%;
	width: 90%;
	position: relative;
	transform: rotate(-45deg);
	perspective: 1000px;
}
.front, .back{
	cursor: pointer;
	font-size: 60px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1.5s;
	backface-visibility: hidden;
	border: 2px solid black;
	border-radius: 10px;
}
.front{
	transform: rotate(-45deg);
	background-color: #BEDDA4;
}
.back{
	background-color: #BEDDA4;
	transform: rotateY(180deg);
}
.module__paint:hover .front{transform: rotateY(180deg);}
.module__paint:hover .back{transform: rotateY(360deg);}
.module__crud:hover .front{transform: rotateY(180deg);}
.module__crud:hover .back{transform: rotateY(360deg);}
.module__DKbank:hover .front{transform: rotateY(180deg);}
.module__DKbank:hover .back{transform: rotateY(360deg);}
.footer{
	width: 100%;
	height: 73px;
	background: gray;
}