html {
    /*background: linear-gradient(to top, #585858 0%, #90b9dc 100%);*/
    height: 100%;
}

.crud {
    width: 540px;
    height: auto;
    border: 1px solid black;
    margin: 1% 28% 15% 22%;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.input {

    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 10px;
    margin: 4px 1px 1px 2px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    transition: .2s ease-in-out;
    background: none;
    font-size: 15px;
}

/*input::-webkit-input-placeholder { color: rgba(249, 255, 242, 0.47); }*/


.input__main {
    width: 510px;
}

.button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 20px;
    width: 127px;
    margin: 2px 2px;
    position: center;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    transition: .2s ease-in-out;
    background: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*.button:before {*/
/*    content: "";*/
/*    background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(112, 191, 255, 0.85));*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    position: absolute;*/
/*    top: -8px;*/
/*    left: -75px;*/
/*    transform: skewX(-45deg);*/
/*}*/

.button:hover {
    background: #c23134;
    /*color: #fff;*/
}

.text-area {
    width: 529px;
    height: auto;
    border: 1px solid black;
    margin: 1% 1% 1% 1%;
    border-radius: 5px;
    box-sizing: border-box;
    letter-spacing: 2px;
}

.text-area__main {
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #424669;
    width: 92%;
    background: none;
}

.text-area__title{
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    width: 92%;
    background: none;
    word-spacing: 45px;
}